.App {
  text-align: center;
}

.login-screen{

    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: "Roboto";
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bg-image {

  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-left: 5px;
}

.button-send{
  background-color: #24A0ED;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-left: 5px;
  float: right;
}

textarea:focus, input:focus{
  outline: none;
}

.inputArea{
  border:none;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 8px 0px, rgb(0 0 0 / 19%) 0px 6px 20px 0px
}

.login-screen-input{
  padding: 14px 20px;
  margin: 8px 0;
}

.login-screen > div{
  display: flex;
}

.login-screen > p{
  font-size: 50px; 
}

.chat-room {
  height: 70vh;
  overflow-y: scroll;
  font-family: "Roboto";
}

.chat-room-pp{
  background-color: #2372e8;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  display: inline-table;
  vertical-align: text-top;
  margin: 15px;
  float: left;
}

.font-face-rbt {
  font-family: "Roboto";
 }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
